<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Editar</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let order of orders; let i = index">
    <ion-item>
      <ion-label position="floating">Nome da ordem</ion-label>
      <ion-input type="text" [(ngModel)]="order.title" name="name{{i}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descrição do problema</ion-label>
      <ion-input type="text" [(ngModel)]="order.description" name="description{{i}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Marca da Máquina</ion-label>
      <ion-select [(ngModel)]="order.brand" name="brand{{i}}">
        <ion-select-option value="BRAND1">JACTO</ion-select-option>
        <ion-select-option value="Média">INRODA</ion-select-option>
        <ion-select-option value="Alta">BALDAN</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Modelo da maquina</ion-label>
      <ion-select [(ngModel)]="order.machine" name="machine{{i}}">
        <ion-select-option value="MACHINE1">TESTE</ion-select-option>
        <ion-select-option value="New Holland">New Holland</ion-select-option>
        <ion-select-option value="Massey Ferguson">Massey Ferguson</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Prioridade</ion-label>
      <ion-select [(ngModel)]="order.priority" name="priority{{i}}">
        <ion-select-option value="LOW">Baixa</ion-select-option>
        <ion-select-option value="Média">Média</ion-select-option>
        <ion-select-option value="Alta">Alta</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Agendar visita</ion-label>
      <ion-input type="text" [(ngModel)]="order.daymaintenance"
        name="daymaintenance{{i | date:'dd/MM/yyyy' }}"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-button color="primary" expand="block" (click)="onImagePick($event)">
          Adicionar Imagem
          <ion-icon name="camera-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top gallery">
      <ion-col>
        <app-photo-gallery (imagePick)="onImagePick($event)"></app-photo-gallery>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-row>
    <ion-col size-md="6" offset-md="3">
      <ion-button color="primary" expand="block" (click)="onConcludeOs()">
        Concluir
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>

<!-- <ion-toolbar color="primary">
  <ion-icon name="arrow-back-outline" style="height: 30px; width: 30px; margin-left: 10px"
    [routerLink]="['/tabs/home']"></ion-icon>
</ion-toolbar>

<ion-content [fullscreen]="true" class="ion-padding content">
  <ion-grid class="ion-margin-top ion-padding-top">
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <div class="img">
          <h2>Editar ordem</h2>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form *ngFor="let order of orders">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-list>
            <ion-item>
              <ion-input type="text" name="title" label="Título da ordem" labelPlacement="floating"
                [value]="osData.length > 0 ? osData[0].title : ''" readonly>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="textarea" name="description" label="Descrição da ordem" labelPlacement="floating"
                [value]="osData.length > 0 ? osData[0].description : ''">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" name="brand" label="Marca da máquina" labelPlacement="floating"
                [value]="osData.length > 0 ? osData[0].brand : ''">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" name="machine" label="Máquina" labelPlacement="floating"
                [value]="osData.length > 0 ? osData[0].machine : ''">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" name="priority" label="Prioridade" labelPlacement="floating"
                [value]="osData.length > 0 ? osData[0].priority : ''">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" name="createdAt" label="Criado em" labelPlacement="floating"
                [value]="osData.length| date: 'dd/MM/yyyy HH:mm:ss'">
              </ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-row>
    <ion-col size-md="6" offset-md="3">
      <ion-button type="submit" color="primary" expand="block">
        Atualizar ordem
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content> -->
