<ion-content [fullscreen]="true" class="ion-padding content">
  <ion-grid class="ion-margin-top ion-padding-top">
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <div class="img">
          <h2>Criar uma nova ordem</h2>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form *ngFor="let order of orders">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-list>
            <ion-item>
              <ion-input type="name" name="name" label="Nome da ordem" labelPlacement="floating"
                placeholder="Digite seu nome" name required ngModel>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="email" name="email" label="Descrição do problema" labelPlacement="floating"
                placeholder="Digite seu sobrenome" email required ngModel>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-select label="Prioridade" placeholder="Nível Prioridade">
                <ion-select-option value="Baixa">Baixa</ion-select-option>
                <ion-select-option value="Média">Média</ion-select-option>
                <ion-select-option value="Alta">Alta</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-select placeholder="Selecione">
                <div slot="label">Marca da máquina <ion-text color="danger">*</ion-text></div>
                <ion-select-option value="apple">Jacto</ion-select-option>
                <ion-select-option value="banana">New Holland</ion-select-option>
                <ion-select-option value="orange">Massey Ferguson</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-input type="email" name="email" label="CEP" labelPlacement="floating" placeholder="Digite seu CEP"
                email required ngModel>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" name="text" label="Nome da rua" labelPlacement="floating"
                placeholder="Digite o sua endereço" email required ngModel>
              </ion-input>
            </ion-item>
            <ion-list>

            </ion-list>
            <ion-item>
              <ion-input type="tel" name="email" label="Celular" labelPlacement="floating"
                placeholder="Digite seu número de celular" email required ngModel>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" label="Senha" labelPlacement="floating" placeholder="Entre com a senha"
                required ngModel #passwordCtrl="ngModel"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-row>
    <ion-col size-md="6" offset-md="3">
      <ion-button type="button" color="primary" expand="block" (click)="addOrder()">
        Adcionar mias uma ordem?
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-md="6" offset-md="3">
      <ion-button type="submit" color="primary" expand="block">
        Câmera
        <ion-icon name="camera-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-md="6" offset-md="3">
      <ion-button type="submit" color="primary" expand="block">
        Registrar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
